<app-header></app-header>

<div class="page-layout">
  <app-sidebar></app-sidebar>

  <div class="pagalo-container">
    <h1>Bienvenido a Págalo</h1>
    <p>Puedes pagar con cualquier método de pago</p>

    <form (ngSubmit)="onSubmit()" #paymentForm="ngForm">
      <!-- Código del Pedido -->
      <div class="form-group">
        <input
          type="text"
          id="orderCode"
          [(ngModel)]="paymentDetails.orderCode"
          name="orderCode"
          placeholder="Código de orden"
          required
          #orderCode="ngModel"
          [ngClass]="{ 'is-invalid': orderCode.invalid && orderCode.touched }"
        >
        <div *ngIf="orderCode.invalid && orderCode.touched" class="invalid-feedback">
          El código del pedido es requerido.
        </div>
      </div>

      <!-- Clave -->
      <div class="form-group">
        <input
          type="password"
          id="password"
          [(ngModel)]="paymentDetails.password"
          name="password"
          placeholder="Clave"
          required
          #password="ngModel"
          [ngClass]="{ 'is-invalid': password.invalid && password.touched }"
        >
        <div *ngIf="password.invalid && password.touched" class="invalid-feedback">
          La clave es requerida.
        </div>
      </div>

      <!-- Botón de Pago -->
      <button type="submit" [disabled]="!paymentForm.form.valid" class="submit-btn">Pagar Ahora</button>
    </form>
  </div>
</div>
