<div class="social-container">
    <h1>Comunícate con Nosotros</h1>
    <p>¡Síguenos en nuestras redes sociales o visítanos en nuestra oficina!</p>
  
    <div class="social-media">
      <h2>Síguenos en:</h2>
      <ul>
        <li>
          <a href="https://facebook.com" target="_blank">
            <img src="assets/facebook-icon.png" alt="Facebook"> Facebook
          </a>
        </li>
        <li>
          <a href="https://twitter.com" target="_blank">
            <img src="assets/twitter-icon.png" alt="Twitter"> Twitter
          </a>
        </li>
        <li>
          <a href="https://instagram.com" target="_blank">
            <img src="assets/instagram-icon.png" alt="Instagram"> Instagram
          </a>
        </li>
        <li>
          <a href="https://linkedin.com" target="_blank">
            <img src="assets/linkedin-icon.png" alt="LinkedIn"> LinkedIn
          </a>
        </li>
      </ul>
    </div>
  
    <div class="location">
      <h2>Nuestra Oficina:</h2>
      <p>Av. Ejemplo 1234, Lima, Perú</p>
      <p>Teléfono: +51 987 654 321</p>
    </div>
  </div>
  